@model IEnumerable<Core.Domain.Package>
@using Core.Domain;

@{
    
}












<!-- ======= Our Services Section ======= -->
<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Available Boxes of food</h2>
            <p>Each box you'll see here contains fresh food that was planned to sell in the canteens inside Avans. The left overs that we were not be able to sell, we are giving away for a good price to avoid food waste to make our school even more sustainable. </p>
        </div>


        
        @*Userstory 8: As a user I want to be able to filter on what type of meal i want, and a filter that will show my location as default.*@

        <form asp-controller="Package" asp-action="IndexFilter" method="post">
            <div class="mb-3">
                <label class="form-label">Select City</label>
                <select class="form-select" asp-items="@Html.GetEnumSelectList<City>();" name="selectedItem"></select>
            </div>

            <div class="mb-3">
                <label class="form-label">Select type of meal</label>
                <select class="form-select" asp-items="@Html.GetEnumSelectList<Meal>();" name="meal"></select>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Availability</label>
                <select class="form-select" name="Availability">
                    <option value="Available">Available</option>
                    <option value="All">All</option>
                    <option value="Reserved">Reserved</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
       
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
            @foreach (var item in Model) 
            {
            
                <div class="col-lg-4 col-md-6">
                    <div class="service-item  position-relative">
                        <div class="icon">
                           
                            <img src="~/images/PickUpIcon.png" alt="PickUpIcon" width="40" height="40">
                            <i>@Html.DisplayFor(modelItem => item.PickUp)</i>
                        </div>
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <h1>@Html.DisplayFor(modelItem => item.City)</h1>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->
            
            }
        </div>
    </div>
</section><!-- End Our Services Section -->